{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">
	<ul class="nav-tag">
	    <li class="nav-tag__item HTML"><a class="nav-tag__item-link" href="/tag/html/">HTML</a></li>
	    <li class="nav-tag__item CSS"><a class="nav-tag__item-link" href="/tag/css-2/">CSS</a></li>
	    <li class="nav-tag__item JavaScript"><a class="nav-tag__item-link" href="/tag/javascript/">JS</a></li>
	    <li class="nav-tag__item Ruby"><a class="nav-tag__item-link" href="/tag/ruby/">Ruby</a></li>
	    <li class="nav-tag__item PHP"><a class="nav-tag__item-link" href="/tag/php/">PHP</a></li>
	    <li class="nav-tag__item App"><a class="nav-tag__item-link" href="/tag/app/">App</a></li>
	    <li class="nav-tag__item UX"><a class="nav-tag__item-link" href="/tag/ux/">UX</a></li>
	    <li class="nav-tag__item UI"><a class="nav-tag__item-link" href="/tag/ui/">UI</a></li>
	</ul>
    <div class="description-wrapper inner">
        <h2 class="blog-description">{{@blog.description}}</h2>
    </div>

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
</main>