body {
	font-size: 100%;
}
.blog-logo__img {
	width: 100px;
	margin-bottom: 1rem;
}
.blog-description {
	font-size: 1.5rem;
	font-weight: 400;
	padding: 0 0.5rem;
}
.icon-feed {
	font-size: 3rem;
	float: right;
	margin: 5px 5px 0 0;
}