body {
	font-size: 100%;
}

/**
 * Header blog 
 */

.main-header {
	width: 100%;
	text-align: center;
}
	.logo-wrapper {
		padding: 0.5rem;
	}
		.blog-logo__img {
		}

.main-nav {
	text-align: center;
}
	.main-nav__items {
		list-style: none;
		margin-bottom: 0;
		&:last-child {
			border-bottom: 3px solid $nav-item-border;
		}
	}
		.main-nav__item {
			font-size: 1.25rem;
			text-transform: uppercase;
			border-top: 3px solid $nav-item-border;
		}
			.main-nav__item-link {
				color: $nav-item-color;
				transition: background-color 0.3s;
				background-color: $nav-item-background-color;
				display: block;
				width: 100%;
				padding: 0.5rem 0;
				&:hover {
					background-color: $nav-item-background-color-hover;
					color: $nav-item-color;
				}
			}
// .icon-feed {
// 	float: right;
// 	font-size: 3rem;
// 	padding-right: 5px;
// 	transition: color 0.3s;
// 	&:hover {
// 		color: $nav-item-color-hover;
// 	}
// }
.site-footer {
	background-color: $footer-background;
	padding: 1rem;
	font-size: 0.75rem;
}
	.copyright {
		color: white;
		font-family: $author-font;
		text-align: center;
		a {
			color: white;
			font-family: $author-font;
		}
	}