/**
 *	Home page  
 */
.description-wrapper {
	margin: 1rem auto;
}
	.blog-description {
		font-size: 1.5rem;
		font-weight: 700;
		text-align: center;
		font-variant: small-caps;
	}

/**
 *  Post Loop
 */
.post {
}
	.tag {
		background-color: $tag-background;
		border-top: 5px solid $tag-border;
	}
	.HTML {
		background-color: $tag-html;
		border-top: 5px solid mix($tag-html, $tag-border, 50%);
		transition: border-top 0.3s;
		&:hover {
			border-top: 5px solid $tag-border;
		}
	}
	.CSS {
		background-color: $tag-css;
		border-top: 5px solid mix($tag-css, $tag-border, 70%);
		transition: border-top 0.3s;
		&:hover {
			border-top: 5px solid $tag-border;
		}
	}
	.JavaScript {
		background-color: $tag-js;
		border-top: 5px solid mix($tag-js, $tag-border, 70%);
		transition: border-top 0.3s;
		&:hover {
			border-top: 5px solid $tag-border;
		}
	}
	.Ruby {
		background-color: $tag-ruby;
		border-top: 5px solid mix($tag-ruby, $tag-border, 70%);
		transition: border-top 0.3s;
		&:hover {
			border-top: 5px solid $tag-border;
		}
	}
	.PHP {
		background-color: $tag-php;
		border-top: 5px solid mix($tag-php, $tag-border, 70%);
		transition: border-top 0.3s;
		&:hover {
			border-top: 5px solid $tag-border;
		}
	}
	.App {
		background-color: $tag-app;
		border-top: 5px solid mix($tag-app, $tag-border, 70%);
		transition: border-top 0.3s;
		&:hover {
			border-top: 5px solid $tag-border;
		}
	}
	.UX {
		background-color: $tag-ux;
		border-top: 5px solid mix($tag-ux, $tag-border, 70%);
		transition: border-top 0.3s;
		&:hover {
			border-top: 5px solid $tag-border;
		}
	}
	.UI {
		background-color: $tag-ui;
		border-top: 5px solid mix($tag-ui, $tag-border, 70%);
		transition: border-top 0.3s;
		&:hover {
			border-top: 5px solid $tag-border;
		}
	}
		.tag__name {
			font-size: 1rem;
			font-family: $tag;
		    a {
		    	color: $tag-color;
		    	display: block;
		    	padding: 0 0 0 1rem;
		    }
		}
	.author {
		padding: 0.5rem 0;
	}
		.author-thumb {
			width: 75px;
			height: 75px;
			border-radius: 50%;
			overflow: hidden;
			display: inline-block;
			vertical-align: middle;
			margin-right: 0.25rem;
		}
			.author-thumb__img {
				width: 100px;
			}
		.author-details {
			display: inline-block;
			vertical-align: middle;
			width: 68%;
		}
			.author-details__name {
				font-family: $author-font;
				font-weight: 700;
				margin-bottom: 0.25rem;
			}
			.author-details__description {
				line-height: 1.25;
				font-family: $author-font;
				font-size: 0.65rem;
				margin-bottom: 0;
			}

.post-title {
	font-size: 2rem;
	margin-bottom: 0;
}
.date {
	margin-bottom: 0.25rem;
}
	.post-date {
		font-family: $author-font;
		font-size: 0.75rem;
		font-weight: 700;
	}
.post-excerpt {
	font-size: 0.85rem;
	p {
		margin-bottom: 0;
		padding-bottom: 2rem;
	}
}
.read-more {
	color: $read-more-color;
	font-family: $read-more-font;
	font-weight: 700;
}
.pagination {
	font-family: $author-font;
	font-weight: 700;
	padding-bottom: 0.5rem;
}

// Tag page
.page-tag {
	text-align: center;
}
.page-tag-title {
	font-size: 3rem;
	margin: 1rem auto;
}

// Post page
.posts--full {
	padding: 1rem 0 0 0;
}
.post-meta {
	margin: 0.25rem 0;
}
.post-header__tag {
	font-family: $tag;
}
.post-author-header {
	margin-bottom: 1em !important;
}
.post-content,
.page {
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1.25rem;
	}
	h4, h5, h6 {
		font-size: 1rem;
	}
	img {
		width: 100%;
	}
}

.author-full-post {
	border-top: 1px solid $border-author;
	border-bottom: 1px solid $border-author;
}
.author-location,
.author-link {
	font-size: 0.75rem;
	font-family: $author-website;
	margin-right: 0.5rem;
	vertical-align: middle;
}
.icon-twitter-account {
	font-size: 1.25rem;
	vertical-align: middle;
}
.share {
	margin-top: 1.5rem;
	text-align: center;
	padding-bottom: 1rem;
	h6 {
		font-size: 1.5rem;
	}
	.icon-twitter,
	.icon-facebook,
	.icon-google-plus {
		font-size: 2.5rem;
		margin: 0 0.5rem;
	}
}
// Page
.page-full {
	padding: 1rem 0 1rem 0;
}
.about-content {
	margin-top: 1rem;
}