/**
 *	Home page  
 */
.description-wrapper {
	margin: 0.5rem auto 1.5rem auto;
}
	.blog-description {
		font-size: 1rem;
		font-weight: 700;
		text-align: center;
		font-variant: small-caps;
	}

/**
 *  Post Loop
 */

.post {
}
	.tag {
		background-color: $tag-background;
		border-top: 3px solid $tag-border;
		padding: 0 0 0 1rem;
	}
	.HTML {
		background-color: $tag-html;
	}
	.CSS {
		background-color: $tag-css;
	}
	.JavaScript {
		background-color: $tag-js;
	}
	.Ruby {
		background-color: $tag-ruby;
	}
	.PHP {
		background-color: $tag-php;
	}
		.tag__name {
			font-size: 1rem;
			font-family: $tag;
		    a {
		    	color: $tag-color;
		    }
		}
	.author {
		padding: 0.5rem 0;
	}
		.author-thumb {
			width: 75px;
			height: 75px;
			border-radius: 50%;
			overflow: hidden;
			display: inline-block;
			vertical-align: top;
		}
			.author-thumb__img {
				width: 100px;
			}
		.author-details {
			display: inline-block;
			vertical-align: top;
			width: 68%;
		}
			.author-details__name {
				font-family: $author-font;
				font-weight: 700;
				margin-bottom: 0.25rem;
			}
			.author-details__description {
				line-height: 1.25;
				font-family: $author-font;
				font-size: 0.65rem;
			}

.post-title {
	font-size: 2rem;
	margin-bottom: 0;
}
.date {
	margin-bottom: 0.25rem;
}
	.post-date {
		font-family: $author-font;
		font-size: 0.75rem;
		font-weight: 700;
	}
.post-excerpt {
	font-size: 0.85rem;
}
.read-more {
	color: $read-more-color;
	font-family: $read-more-font;
	font-weight: 700;
}
.pagination {
	font-family: $author-font;
	font-weight: 700;
}