// 	Colors definition

$grey: #4a4a4a;
$red: #d3031c;
$light-grey: #eee;
$white: #fff;

// Proxy Colors

// default header blog
$nav-item-color: $grey;
$nav-item-color-hover: $red;

// Post Loop
$border-post: $grey;

$tag-color: $white;
$tag-background: $grey;

$border-author: $grey;
$read-more-color: $red;

// footer
$footer-background: $grey;