// 	Colors definition

$white: #fff;
$red: #d3031c;
$dark-grey: #212121;
$grey: #4a4a4a;
$light-grey: #666;

// Proxy Colors

// default header blog
$nav-item-color: $white;
$nav-item-color-hover: $red;
$nav-item-background-color: $grey;
$nav-item-background-color-hover: $light-grey;
$nav-item-border: $dark-grey;
// Post Loop
$border-post: $grey;

$tag-color: $white;
$tag-background: $grey;

$border-author: $grey;
$read-more-color: $red;

// footer
$footer-background: $grey;