// 	Colors definition

$white: #fff;
$red: #d3031c;
$dark-grey: #212121;
$grey: #444;
$light-grey: #AAA;
$blue: #248aaf;

$tag-blue: #248aaf;
$tag-green: #3cbc8d;
$tag-red: #e9422e;
$tag-yellow: #fac552;
$tag-orange: #fca13f;
$tag-green-apple: #adbe00;
$tag-violet: #669;
$tag-light-blue: #6ab4f1;

// Proxy Colors

// default header blog
$nav-item-color: $white;
$nav-item-color-hover: $red;
$nav-item-background-color: $blue;
$nav-item-background-color-hover: mix($blue, $grey, 60%);
$nav-item-border: $dark-grey;
// Post Loop
$border-post: $grey;

// tag
$tag-color: $white;
$tag-background: $grey;
$tag-border: $grey;

$tag-html: $tag-blue;
$tag-css: $tag-orange;
$tag-js: $tag-green;
$tag-ruby: $tag-red;
$tag-php: $tag-yellow;
$tag-app: $tag-green-apple;
$tag-ux: $tag-violet;
$tag-ui: $tag-light-blue;

$border-author: $grey;
$read-more-color: $red;

// footer
$footer-background: $dark-grey;