// Fonts definition

$open: "Open Sans", sans-serif;
$noto: "Noto Serif", serif;

// Proxy Fonts

// Général
$bodyFont: $open;
$title: $open;
$list: $open;

// tags
$tag: $open;

// author post
$author-font: $open;
$read-more-font: $open;
$author-website: $open;